<div>
    <h1>Hola, {{name}}! que gusto verte hijo de mil puta </h1>
</div>



<script src="/socket.io/socket.io.js"></script>
<script type="application/json" src= "../public/index.js"></script>